{% extends 'core/base.html'%}

{% block titulo %}{{titulo}}{% endblock %}
{%block content %}

<table id="ejemplo" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>NOMBRE PROYECTO</th>
            <th>ESTUDIANTE</th>
            <th>TEMA</th>
            <th>PROFESOR</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Estudio étnico sobre los aymaras</td>
            <td>Michael Jackson</td>
            <td>Social</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Omega Raid Terrenator 3000</td>
            <td>Pablo Andrés Ruiz Ramirez</td>
            <td>Ciencias</td>
            <td>Carlos Buil</td>
        </tr>
        <tr>
            <td>Sistema inscripción gimnasio VSM</td>
            <td>Michael Jackson</td>
            <td>Innovación</td>
            <td>Pamela Gática</td>
        </tr>
    </tbody>
  </table>

{% endblock %}